{% extends "base.html" %}
{% block content %}

<div id="holder" class="row">
	<div class="card horizontal col s6">
		<div class="card-image">
			<img src="{{ url_for('static', filename='uk.svg') }}">
		</div>
		<div class="card-stacked">
			<div class="card-content">
				<h4 class="light">2007 - 2014: Coaching in the UK</h4>
				<p>Three High School National Lacrosse Championships</p>
				<p>Two world cups as Scotland Women's Lacrosse attack coach</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
